<!-- Enter Flexboxes for movie posters and comment input boxes -->
<article class="movie-posters">
    <h3>'The Infamous Movies'</h3>
    {{#each movies as |movie|}}
    {{movie_title}}
    <article class="movie" id="first-movie">
        <img src="{{movie_url}}" height="400px">
        <textarea class="comment-box" id="comment-{{id}}"></textarea>
        <button type="submit" class="add-comment-button" data-movie-id="{{id}}">Add Comment</button>
        {{#each movie.comments as |comment|}}
            <div>{{comment.user.username}} on {{format_date comment.created_at}} </div>
            <div>{{comment.comment_text}}</div>
        {{/each}}
    </article>
    {{/each}}
</article>
