<!-- Enter Flexboxes for movie posters and comment input boxes -->
<article class="movie-posters">
    <h3>'The Infamous Movies'</h3>
    {{#each movies as |movie|}}
    <article class="movie" id="first-movie">
        <img src="{{movie_url}}" height="400px">
        <textarea class="comment-box" name="comment-box1"></textarea>
        <button type="submit">Add Comment</button>
        <div>
            {{comment_text}}
            {{id}}
            {{format_date created_at}}
            {{user.username}}
        </div>
    </article>
    {{/each}}
</article>
<script src="/javascript/comment.js"></script>