<!-- Enter Flexboxes for movie posters and comment input boxes -->

<article class="movie-posters">
    <h3>'The Infamous Movies'</h3>
    {{#each movies as |movie|}}
    {{movie_title}}
    <article class="movie" id="first-movie">
        <img src="{{movie_url}}" height="400px">
        <p>{{movie_text}}</p>
        <div class="d-flex justify-content-center">
        <textarea class="comment-box form-control" id="comment-{{id}}"></textarea>
        <button type="submit" class="add-comment-button btn btn-primary" data-movie-id="{{id}}">Add Comment</button>
        </div>
        {{#each movie.comments as |comment|}}
        <div class="card bg-light bg-opacity-25 container w-50">
            <p class="card-text fs-6 blockquote-footer">{{comment.user.username}} on {{format_date comment.created_at}} </p>
            <p class="card-text text-dark fs-5">{{comment.comment_text}}</p>
        </div>
        <br>
        {{/each}}
    </article>
    {{/each}}
</article>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upload.js"></script>
{{/if}}